<div class="msg user">
    <div class="content">
        <div class="d-flex flex-column form align-items-center">
            <p id="status" class="hidden error"></p>
            <span id="name_input" class="hidden"><label for="name">Name</label><input id="name" type="text" class="form-control"></span>
            <span><label for="username">Username</label><input id="username" type="text" class="form-control"></span>
            <span><label for="password">Password</label><input id="password" type="text" class="form-control"></span>
            <button class="btn btn-primary mt-3" id="submit" mode="login" onclick="auth_submit()">Submit</button>
            <p><button id="toggle" class="btn mt-3" onclick="toggle_login_register()">Register with us</button></p>
        </div>
    </div>
</div>